<mat-toolbar>
  <button mat-button class="search-button">
    <mat-icon>search</mat-icon>
  </button>

  <mat-form-field appearance="outline" class="search-bar">
    <input matInput placeholder="Buscar">
  </mat-form-field>

  <span class="toolbar-spacer"></span>

  <button *ngIf="userRole === 'LAWYER'" mat-button class="btn" [routerLink]="['/home-lawyer']">
    <mat-icon>home</mat-icon>
    Inicio
  </button>

  <button *ngIf="userRole === 'CLIENT'" mat-button class="btn" [routerLink]="['/home-client']">
    <mat-icon>home</mat-icon>
    Inicio
  </button>

  <button *ngIf="userRole === 'CLIENT'" mat-button class="btn" [routerLink]="['/notifications']">
    <mat-icon>notifications</mat-icon>
    Notificaciones
  </button>

  <button *ngIf="userRole === 'LAWYER'" mat-button class="btn" (click)="openAddSpecialtyDialog()">
    <mat-icon>notifications</mat-icon>
    Agregar especialidad
  </button>

  <button mat-button class="btn" [routerLink]="['/cases']">
    <mat-icon>work</mat-icon>
    Casos
  </button>

  <button *ngIf="userRole === 'LAWYER'" mat-button class="btn" [routerLink]="['/consultations']">
    <mat-icon>gavel</mat-icon>
    Ver solicitudes
  </button>

  <button *ngIf="userRole === 'CLIENT'" mat-button class="btn" [routerLink]="['/lawyer-search']">
    <mat-icon>gavel</mat-icon>
    Buscar abogados
  </button>



</mat-toolbar>
