<div class="view-case">
  <div class="case-block">
    <div class="case-header">
      <p>CASO LEGAL</p>
      <p *ngIf="isCaseClosed" class="closed-status">CASO CERRADO</p>
    </div>

    <div class="case-content">
      <div class="case-description">
        <p>
          <strong>Titulo:</strong> {{ legalCase?.title }} <br>
          <strong>Descripción:</strong> {{ legalCase?.description }}
        </p>
      </div>
      <div class="actions">
        <button class="go-to" [disabled]="isCaseClosed" (click)="goToDocuments()">Ir A Documentos</button>
        <span class="spacer"></span>
        <button class="go-to" [disabled]="isCaseClosed" (click)="goToPayments()">Generar Pago</button>
      </div>
    </div>
    <div class="communication">
      <button class="see-communication" [disabled]="isCaseClosed" (click)="goToChatRoom()">Ver Chat</button>
      <br>
      <button class="see-communication" [disabled]="isCaseClosed" (click)="goToVideoCall()">Ir a Videollamada</button>
      <br>
      <button class="see-communication" [disabled]="isCaseClosed" (click)="goToAppointments()">Ver citas reservadas</button>
    </div>
  </div>
</div>
