<div class="recommendation-container">
  <h3>RECOMENDACIONES</h3>

  <div class="recommendation-card">
    <!-- Botón Izquierda -->
    <button class="navigation-btn" (click)="prevLawyer()" [disabled]="currentIndex === 0">
      &lt;
    </button>

    <!-- Información del Abogado -->
    <div class="lawyer-info" *ngIf="currentLawyer">
      <img src="assets/images/abogado696.jpg" [alt]="currentLawyer.profile.name.firstName" class="lawyer-image">
      <div class="info-container">
        <h4>{{ currentLawyer.profile.name.firstName }} {{ currentLawyer.profile.name.lastName }}</h4>
        <p>{{ currentLawyer.lawyerTypes.join(', ') }}</p>
        <div class="stars">
          <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class.filled]="i < 5">★</span>
        </div>
        <button (click)="viewProfile(currentLawyer.id)">Ver Perfil</button>
      </div>
    </div>

    <!-- Botón Derecha -->
    <button class="navigation-btn" (click)="nextLawyer()" [disabled]="currentIndex === randomLawyers.length - 1">
      &gt;
    </button>
  </div>
</div>

<!-- Sección Últimos Casos -->
<app-last-legal-cases *ngIf="currentLawyer" [lawyerId]="currentLawyer.id"></app-last-legal-cases>
