.last-casses_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.spacer {
  margin-left: 150px;
}
.search-section,
.recent-cases-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.search-section h3,
.recent-cases-section h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.caso-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  position: relative;
}

.estado {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.estado.abierto {
  background-color: #4caf50;
}

.estado.cerrado {
  background-color: #f44336;
}

.caso-info h4 {
  margin: 0 0 10px;
  font-size: 1.1rem;
}

.caso-info p {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}
