<mat-dialog-content class="add-document">
  <h5>Agregar Documento</h5>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Título" [(ngModel)]="title">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Descripción" [(ngModel)]="description">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Tipo" [(ngModel)]="type">
        <mat-option *ngFor="let type of documentTypes" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <div class="actions">
      <button mat-button class="cancel" (click)="cancel()">Cancelar</button>
      <button mat-button class="accept" (click)="accept()">Aceptar</button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
