<div class="view-case">
  <div class="case-block">
    <div class="case-header">
      <p>CASO {{ legalCase?.id }}</p>
    </div>

    <div class="case-content">

      <div class="case-description">
        <p>
          <strong>Titulo:</strong> {{ legalCase?.title }} <br>
          <strong>Descripción:</strong> {{ legalCase?.description }}
        </p>
      </div>
      <div class="actions">
        <button class="go-to" (click)="goToDocuments()">Ir A Documentos</button>
        <span class="spacer"></span>
        <button class="go-to" (click)="goToPayments()">Generar Pago</button>
      </div>
    </div>
    <div class="communication">
      <button class="see-communication" (click)="goToChatRoom()">Ver Chat</button>
      <br>
      <button class="see-communication" (click)="goToVideoCall()">Ir a Videollamada</button>
      <br>
      <button class="see-communication" (click)="goToAppointments()">Ver citas reservadas</button>
    </div>

    <div class="close-case">
      <button class="close" (click)="openCloseCasePopup('close')">Cerrar Caso</button>
    </div>
  </div>
</div>
